

<style>
   {% block style %}
   h1{
      color: green;
   }

   {% endblock style %}
</style>
<div class='container' >
  <div class='row' style='background-color: #171717'>
     <div class='col-md-3'>
    <h1>Giới thiệu</h1>
    <p>Ra đời từ năm 2016, chỉ từ một cửa hàng thời trang nhỏ, đến nay <b style='color:red'>ALOSHOP </b>đã không ngừng phát triển và trở thành một hệ thống <br>cửa hàng chuyên kinh doanh thời trang trẻ, là <br>một trong những thương hiệu thời trang hàng<br> đầu tại Đà Nẵng....<br/>
    <b style='color:red'>Mọi phản ánh xin liên hệ:</b>
    SĐT:00000000000000
    Email:aloshop.com.vn</p>
    </div>
     <div class='col-md-3'>
      <h1>Dich vu</h1>
        <p>Hướng Dẫn mua hàng<br>
          Chính Sách Khách Hàng<br>
          Chính sách vận chuyển và thanh toán<br>
          Khách Hàng VIP<br>
          Quy định đổi trả hàng<br>
          Tài khoản giao dịch<br>
          Khuyến mãi</p>  
    </div>
    <div class='col-md-3'>
      <h1>Lien He</h1>
      <p><b style='color:red'>Trụ sở:</b> 172 Lê Duẩn, Đà Nẵng<br>
        <b style='color:red'>Email:</b>SaleOnline@fmstyle.com.vn<br>
        <b style='color:red'>Website:</b> Fmstyle.com.vn<br>
        <b style='color:red'>Facebook:</b> ShopFmstyle<br>
        <b style='color:red'>Zalo page:</b> Fmstyle Shop<br>
      </p>
    </div>
     <div class='col-md-3'>
      <h1>Ban do AloShop</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61349.64897267517!2d108.17112387622402!3d16.04715843068383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c792252a13%3A0xfc14e3a044436487!2zxJDDoCBO4bq1bmcsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1467916629339" width="250" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
   
  </div>

  


</div>